<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Manager</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>

    <div class="container">
      <h1>Recipe Manager</h1>
      
      <%if !!flash[:recipe_does_not_exist]%>
        <p><%=flash[:recipe_does_not_exist]%></p>
      <%end%>
      
      <%= yield %>
    </div>

  </body>
</html>