<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Manager</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>

    <div class="container">
      <h1>Recipe Manager</h1>
      
      <%if !!flash[:alert]%>
        <p><span><%=flash[:alert]%></span></p>
      <%end%>
      
      <%= yield %>
    </div>

  </body>
</html>